
/* What is skit? Diagram */

#controller-example,
#load-cycle {
  margin: 10px 0;
}

#controller-example {
  text-align: left;
  font-size: 13px;
  display: inline-block;
}
#controller-example .code {
  font-weight: bold;
  background: #F8F7D2;
  margin: -5px -10px;
  padding: 5px 10px;
  margin-left: -5px;
  padding-left: 5px;
}

#load-cycle {
  display: block;
  padding: 5px;
  white-space: nowrap;
}
#load-cycle .code {
  display: inline-block;
  padding: 5px 10px;
  font-weight: bold;
  background: #F8F7D2;
  font-family: Consolas, Courier, monospace;
  font-size: 13px;
}

#load-cycle .title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  display: block;
  line-height: 12px;
  margin-bottom: 6px;
}
#load-cycle .server,
#load-cycle .client {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ccc;
}
#load-cycle .server {
  background: #D6E9FC;
  border-right: none;
  padding-right: 7px;
}
#load-cycle .client {
  background: #B7D1EC;
  border-left: none;
  padding-left: 13px;
}
#load-cycle .crossover {
  display: inline-block;
  width: 0;
  z-index: 1000;
  position: relative;
}


/* Skit controller lifecycle detailed */

#body .skit-lifecycle {
  padding: 5px 10px;
  background: #efefef;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
}
#body .skit-lifecycle-divider {
  margin: 10px 0;
  text-align: center;
}
#body .skit-lifecycle-divider em {
  margin: 0 20px;
}

#body .skit-lifecycle ol,
#body .skit-lifecycle li {
  margin: 5px 0;
}
#body .skit-lifecycle li {
  margin-left: 30px;
}

#body .skit-lifecycle h2 {
  display: inline-block;
  font-size: inherit;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 10px;
  line-height: 1.4;
  background: #a00;
  margin: 5px 0;
  border-radius: 4px;
}

#body .skit-lifecycle .your-code {
  padding: 5px 10px;
  background: #D6E9FC;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
  margin: 10px 0;
}

#body .skit-lifecycle .your-code h3 {
  margin: 0;
  margin-bottom: 10px;
}

#body .skit-lifecycle .your-code code {
  background: #F8F7D2;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 4px;
}


