#load-cycle {
  display: block;
  padding: 5px;
  margin-top: 10px;
  text-align: center;
  white-space: nowrap;
}
#load-cycle code {
  display: inline-block;
  padding: 5px 10px;
  margin: -5px 0;
  font-weight: bold;
}


#body .skit-lifecycle {
  padding: 5px 10px;
  background: #efefef;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
}
#body .skit-lifecycle-divider {
  margin: 10px 0;
  text-align: center;
}
#body .skit-lifecycle-divider em {
  margin: 0 20px;
}

#body .skit-lifecycle ol,
#body .skit-lifecycle li {
  margin: 5px 0;
}
#body .skit-lifecycle li {
  margin-left: 30px;
}

#body .skit-lifecycle h2 {
  display: inline-block;
  font-size: inherit;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 10px;
  line-height: 1.4;
  background: #a00;
  margin: 5px 0;
  border-radius: 4px;
}

#body .skit-lifecycle .your-code {
  padding: 5px 10px;
  background: #E1F1F7;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
  margin: 10px 0;
}

#body .skit-lifecycle .your-code h3 {
  margin: 0;
  margin-bottom: 10px;
}

#body .skit-lifecycle .your-code code {
  background: #F8F7D2;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 4px;
}


