
body, p {
  font-family: Helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

h1 {
  font-size: 300%;
}
h2 {
  font-size: 150%;
}

a {
  color: #069;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, p, li {
  margin-bottom: 10px;
}

pre, code {
  font-family: Consolas, Courier, monospace;
  font-size: 14px;
  background: #eee;
}
pre {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 10px;
  margin: 0;
  margin-bottom: 10px;
  overflow-x: auto;
}

pre .no-select {
  color: #999;
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none; 
  user-select: none; 
}
pre ins {
  text-decoration: none;
  color: #096;
}

li li {
  margin-left: 25px;
}
li li li {
  margin-left: 50px;
}
